<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Spread</string>
  <key>CFBundleDisplayName</key>
  <string>Spread</string>
  <key>CFBundleIdentifier</key>
  <string>com.samuelcolvin.spread</string>
  <key>CFBundleVersion</key>
  <string>0.0.1</string>
  <key>CFBundleShortVersionString</key>
  <string>0.0.1</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleExecutable</key>
  <string>spread</string>
  <key>CFBundleIconFile</key>
  <string>Spread.icns</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Excel Spreadsheet</string>
      <key>CFBundleTypeIconFile</key>
      <string>Spread.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>xlsx</string>
      </array>
      <key>LSItemContentTypes</key>
      <array>
        <string>org.openxmlformats.spreadsheetml.sheet</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>CSV Document</string>
      <key>CFBundleTypeIconFile</key>
      <string>Spread.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>csv</string>
      </array>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.comma-separated-values-text</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
